@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    background: url("pic1.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment:scroll;
    backdrop-filter: blur(45px);
    padding: 10px;
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
#headersection{
    padding:10px;
    font-size:large;
}
input{
    padding: 10px;
    border-radius: 5px;
}
hr{
    border: 1px solid black;
}
p {
    font-size: 20px;
  }
  ul {
    list-style-type: square;
  }
  
